In [4]:
import pandas as pd

In [5]:
df = pd.read_csv("137-174.csv",usecols=[0,3,4])

In [6]:
df.head()

    ความถี่   หน่วยงานผู้ใช้คลื่น          ผู้ใช้งานในพื้นที่
0  144.3875  กิจการวิทยุสมัครเล่น  นักวิทยุสมัครเล่นในพื้นที่
1  144.4625  กิจการวิทยุสมัครเล่น  นักวิทยุสมัครเล่นในพื้นที่
2  144.6250  กิจการวิทยุสมัครเล่น  นักวิทยุสมัครเล่นในพื้นที่
3  144.8750  กิจการวิทยุสมัครเล่น  นักวิทยุสมัครเล่นในพื้นที่
4  144.9750  กิจการวิทยุสมัครเล่น  นักวิทยุสมัครเล่นในพื้นที่

In [7]:
df  = df.rename(columns = {'ความถี่':'freq','หน่วยงานผู้ใช้คลื่น':'institution','ผู้ใช้งานในพื้นที่':'usage'})

In [10]:
df.head()

       freq                 usage                        area
0  144.3875  กิจการวิทยุสมัครเล่น  นักวิทยุสมัครเล่นในพื้นที่
1  144.4625  กิจการวิทยุสมัครเล่น  นักวิทยุสมัครเล่นในพื้นที่
2  144.6250  กิจการวิทยุสมัครเล่น  นักวิทยุสมัครเล่นในพื้นที่
3  144.8750  กิจการวิทยุสมัครเล่น  นักวิทยุสมัครเล่นในพื้นที่
4  144.9750  กิจการวิทยุสมัครเล่น  นักวิทยุสมัครเล่นในพื้นที่

In [9]:
df.to_csv('goverment.csv', index=False)